<div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      [label]="'Username'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'Password'"
      [type]="'password'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['password_again'])"
      [label]="'Password again'"
      [type]="'password'"
    ></app-text-input>

    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" type="submit" [disabled]="">
        Register
      </button>
      <button class="btn btn-danger ms-4" type="button" (click)="cancle()">
        Cancle
      </button>
    </div>
  </form>
</div>
